* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.clear {
    clear: both !important;
}

.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

body {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

#header {
    height: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#header .header-top {
    width: 100%;
    height: auto;
    background-color: #39383d;
    /*border-bottom: 2px solid #d8cc46;*/
    height: 75px;
}

#header .header-top .box-image-logo {
    float: left;
    line-height: 80px;
}

@media screen and (max-width: 576px) {
    #header .header-top .box-image-logo {
        margin-left: 27%;
    }
}

#header .header-top .box-name-logo {
    margin-left: 25%;
}

#header .header-top .box-name-logo p {
    font-size: 0.8rem;
    color: #19a7ee;
    margin-bottom: 0;
}

#header .header-top .box-name-logo p:first-of-type {
    padding-top: 6px;
    font-size: 1.8rem;
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    #header .header-top .box-name-logo p:first-of-type {
        padding-top: 12%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    #header .header-top .box-name-logo p:first-of-type {
        padding-top: 17%;
        font-size: 0.8rem;
        margin-left: 35%;
    }
}

@media screen and (max-width: 576px) {
    #header .header-top .box-name-logo p:first-of-type {
        padding-top: 1%;
        font-size: 3rem;
        margin-left: 15%;
    }
}

@media screen and (max-width: 992px) {
    #header .header-top .box-name-logo p {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 767px) {
    #header .header-top .box-name-logo p {
        font-size: 0.5rem;
        margin-left: 35%;
    }
}

#header .header-top .box-name-logo span {
    color: #d8cc46;
    font-size: 1rem;
}

#header .header-top .box-form input[type="text"] {
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 1rem;
    font-size: 0.9rem;
    outline: none;
    color: #dddddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #39383d;
    border-radius: 15px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    background: #303137;
}

#header .header-top .box-form input[type="text"]:focus {
    outline: 0;
}

#header .header-top .box-form .btn-search {
    position: absolute;
    top: 25%;
    right: 5%;
    border: none;
}

#header .header-top .box-form .btn-search:focus {
    outline: 0;
}

@media screen and (max-width: 767px) {
    #header .header-top .box-form .btn-search {
        top: 19%;
        right: 11%;
    }
}

@media screen and (max-width: 576px) {
    #header .header-top .box-form .btn-search {
        top: 37%;
        right: 3%;
    }
}

@media screen and (max-width: 380px) {
    #header .header-top .box-form .btn-search {
        top: 36%;
        right: 6%;
    }
}

#header .header-top .login-header {
    width: 100%;
    margin-top: 4%;
}






/*#header .header-top .login-header a.btn-register {
    text-decoration: none;
    display: block;
    padding: 9px 10px;
    font-size: 0.8rem;
    color: #ffffff;
    border-right: 2px solid black;
    border-radius: 5px 0 0 5px;
    background: #474747;
    box-shadow: 0px 0px 6px black;
    -moz-box-shadow: 0px 0px 6px black;
    -webkit-box-shadow: 0px 0px 6px black;
    float: left;
}

#header .header-top .login-header a.btn-register:hover {
    background: #5B5B5B;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#header .header-top .login-header a.btn-login {
    text-decoration: none;
    display: block;
    padding: 9px 10px;
    font-size: 0.8rem;
    color: #ffffff;
    border-radius: 0px 5px 5px 0px;
    background: #474747;
    box-shadow: 0px 0px 6px black;
    -moz-box-shadow: 0px 0px 6px black;
    -webkit-box-shadow: 0px 0px 6px black;
    float: left;
}

#header .header-top .login-header a.btn-login:hover {
    background: #5B5B5B;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#header .header-top .login-header a.btn-login-with-fb {
    float: right;
    text-decoration: none;
    max-width: 184px;
    display: block;
    padding: 9px 10px;
    font-size: 0.8rem;
    outline: none;
    color: #ffffff;
    border: transparent;
    border-radius: 5px;
    background: #0963a4;
    box-shadow: 0px 0px 6px black;
    -moz-box-shadow: 0px 0px 6px black;
    -webkit-box-shadow: 0px 0px 6px black;
}

#header .header-top .login-header a.btn-login-with-fb:hover {
    background: #083199;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}*/

@media screen and (max-width: 992px) {
    #header .header-top .login-header a.btn-login-with-fb {
        max-width: 126px;
        margin-bottom: 2%;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    #header .header-top .login-header a.btn-login-with-fb {
        max-width: 98px;
        margin-bottom: 2%;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    #header .header-top .login-header a.btn-login-with-fb {
        min-width: 182px;
        margin-bottom: 2%;
        margin-right: 2%;
    }
}

@media screen and (max-width: 380px) {
    #header .header-top .login-header a.btn-login-with-fb {
        float: left;
        margin-bottom: 2%;
    }
}

#header .header-top .login-header a i {
    padding-right: 5px;
}

nav {
    /* height: 50px;*/
    background: #323031;
}

nav ul {
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
}

nav ul li {
    height: 50px;
    float: left;
    position: relative;
}

nav ul li ul.menu1 {
    display: none;
    margin-bottom: 0;
}

nav ul li a {
    display: block;
    height: 50px;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
}

nav ul li a:hover {
    color: #dacb46;
    background: #292929;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

@media screen and (max-width: 992px) {
    nav ul li a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 767px) {
    nav ul li a {
        font-size: 0.6rem;
    }
}

nav ul li:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

nav ul li:hover ul.menu1 {
    display: block;
    position: absolute;
    top: 50px;
    width: 640px;
    height: 200px;
    border: 1px solid #dddddd;
    font-weight: 200;
    background: #292929;
}

@media screen and (max-width: 992px) {
    nav ul li:hover ul.menu1 {
        width: 400px;
    }
}

@media screen and (max-width: 767px) {
    nav ul li:hover ul.menu1 {
        width: 340px;
    }
}

@media screen and (max-width: 567px) {
    nav ul li:hover ul.menu1 {
        max-width: 250px;
        height: auto;
        z-index: 9999;
    }
}

nav ul li:hover ul.menu1 li {
    display: block;
    width: 150px;
    height: 30px;
    margin-top: 15px;
    background: #292929 !important;
}

nav ul li:hover ul.menu1 li a {
    display: block;
    width: 150px;
    height: 50px;
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
}

nav ul li:hover ul.menu1 li a:hover {
    color: red;
}

#main {
    background: #57555A;
    height: auto;
    width: 100%;
    border-top: 1px solid #dddddd;
}

#main .box-message {
    /* padding-top: 30px;*/
}

#main .box-message .box-message-detail {
    width: 100%;
    /* height: 50px;*/
    border: 1px solid #d8cc46;
    background: black;
    margin: 20px 0px;
}

#main .box-message .box-message-detail p {
    padding: 15px;
    text-align: left;
    color: #ddd;
    font-size: 0.8rem;
    max-width: 900px;
    margin-bottom: 0;
}

#main .ads img {
    width: 100%;
}

#main .nominated-film {
    margin-top: 40px;
}

#main .nominated-film .list-film .item {
    position: relative;
}

#main .nominated-film .list-film .item .label-item span {
    display: inline-block;
    height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px;
    width: auto;
    background: #A21D0A;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 0.7rem;
    position: absolute;
    top: 4px;
    left: 1px;
}

#main .nominated-film .list-film .item .meta-item {
    position: absolute;
    bottom: 2px;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    width: 100%;
}

#main .nominated-film .list-film .item .meta-item p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #FF8040;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin: 5px 0px;
}

#main .nominated-film .list-film .item .meta-item span {
    color: #fff;
    font-size: 12px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
    margin: 5px 0px;
}

#main .nominated-film h3 {
    color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;
    display: inline-block;
    font: 30px/40px 'UTMCafetaRegular';
    text-transform: uppercase;
}

#main .nominated-film .owl-dot span {
    width: 12px;
    height: 12px;
}




/*#main .nominated-film .owl-prev {
    position: absolute;
    left: 35%;
    bottom: -2px;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    background: #d8cc46 !important;
}
*/

@media only screen and (max-width: 768px) {
    #main .nominated-film .owl-prev {
        left: 0;
    }
}

#main .nominated-film .owl-theme .owl-nav {
    margin-top: 50px;
}




/*#main .nominated-film .owl-next {
    position: absolute;
    right: 35%;
    bottom: -2px;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    background: #d8cc46 !important;
}*/

@media only screen and (max-width: 768px) {
    #main .nominated-film .owl-next {
        right: 0;
    }
}

#main .all-film {
    padding-top: 40px;
    height: auto;
}

#main .all-film .cate-section2 {
    margin-top: 0px;
}

#main .all-film .ads-1 {
    width: 100%;
    height: 575px;
}

#main .all-film #exTab1 .nav-pills {
    background: #2e2e2e;
}

#main .all-film #exTab1 .nav-pills li {
    width: 146px;
    height: 50px;
}

#main .all-film #exTab1 .nav-pills li a {
    display: block;
    width: 146px;
    height: 50px;
    font-size: 1rem;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #cccccc;
}

#main .all-film #exTab1 .nav-pills li.active a {
    background: #191919;
    color: #1eaff0;
}

#main .all-film #exTab1 .tab-content {
    color: white;
}

#main .all-film #exTab1 .tab-content .box-film {
    padding-top: 10px;
    border-bottom: 1px dashed #555;
    position: relative;
}

#main .all-film #exTab1 .tab-content .box-film:last-of-type {
    border-bottom: none;
    padding-bottom: 8px;
}

#main .all-film #exTab1 .tab-content .box-film a {
    text-decoration: none;
    color: #ffffff;
}

#main .all-film #exTab1 .tab-content .box-film img {
    display: inline-block;
    float: left;
    border: 2px solid #ffffff;
    width: 3rem;
    margin-left: 5px;
}

#main .all-film #exTab1 .tab-content .box-film p {
    padding-left: 60px;
}

#main .all-film #exTab1 .tab-content .box-film p:first-of-type {
    font-size: 1rem;
}

#main .all-film #exTab1 .tab-content .box-film p:last-of-type {
    font-size: 0.8rem;
    color: #cccccc;
    margin-top: -12px;
}

#main .all-film #exTab1 .tab-content .box-film span {
    float: right;
    margin-top: -60px;
    font-size: 0.8rem;
    color: #cccccc;
    padding-right: 5px;
}

#main .all-film #exTab1 .tab-content .active {
    background: #191919;
}

#main .section2 {
    margin-top: 40px;
    overflow: hidden;
}

#main .section2 .section2-title {
    background: url(../images/divider_line.gif) bottom repeat-x;
    margin-bottom: 5px;
    margin-top: 10px;
}

#main .section2 .section2-title h3 {
    color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;
    display: inline-block;
    font: 30px/40px 'UTMCafetaRegular';
    text-transform: uppercase;
}

#main .section2 .section2-title a {
    float: right;
    display: inline-block;
    padding: 15px 12px 0px 0px;
    color: #ddd;
    font-size: 14px;
    text-decoration: none;
    background: url(../images/viewmore.png) no-repeat right 21px;
}

#main .section2 .list-theater {
    overflow: hidden;
}

#main .section2 .list-theater .detail-film {
    position: relative;
    padding-left: 2px;
    background: #4F4E52 url(../images/item_bg.gif) repeat;
    border-bottom: 1px solid #868489;
    color: #ddd;
    height: auto;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#main .section2 .list-theater .detail-film .sub-title {
    display: inline-block;
    height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px;
    width: auto;
    background: #A21D0A;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 0.7rem;
    position: absolute;
    top: 4px;
    left: 0px;
}

#main .section2 .list-theater .detail-film .detail-item-film {
    width: 100%;
    height: auto;
}

#main .section2 .list-theater .detail-film .detail-item-film .item-image-film img {
    height: auto;
    display: block;
    width: 100%;
    text-align: center;
}

#main .section2 .list-theater .detail-film .detail-item-film .item-name-film {
    padding-left: 5px;
}

#main .section2 .list-theater .detail-film .detail-item-film .item-name-film p {
    margin-bottom: 0;
}

#main .section2 .list-theater .detail-film .detail-item-film .item-name-film p:first-of-type {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #44e2ff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

#main .section2 .list-theater .detail-film .detail-item-film .item-name-film p:nth-child(2) {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    line-height: normal;
    color: #ccc;
    font-size: 0.9rem;
    text-decoration: none;
    padding-top: 4px;
}

#main .section2 .list-theater .detail-film .detail-item-film .item-name-film p:last-of-type {
    font-size: 12px;
    color: #777;
    line-height: normal;
    padding-bottom: 5px;
}

#main .section2 .list-theater .detail-film .detail-item-film .item-name-film p a {
    text-decoration: none;
}

#main .cate-header {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 40px;
}

#main .cate-header .box-header {
    width: 100%;
    overflow: hidden;
    background: #111;
}

#main .cate-header .box-header p {
    padding-left: 5%;
}

#main .cate-header .box-header p a {
    display: inline-block;
    height: 40px;
    line-height: 52px;
    color: #46E1FF;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
}

#main .cate-header .box-header p span {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0 5px;
}

#main .cate-form-search .detail-form-search {
    background: #111;
    height: auto;
    padding: 10px;
}

#main .cate-form-search .detail-form-search .list-movie-filter-item {
    float: left;
    margin: 0px 6px;
    width: 126px;
}

#main .cate-form-search .detail-form-search .list-movie-filter-item label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    color: #cccccc;
    font-size: 1rem;
}

#main .cate-form-search .detail-form-search .list-movie-filter-item .form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    background-color: #333 !important;
    border: 1px solid #111 !important;
    color: #b8b8b8 !important;
    margin-bottom: 20px;
}

#main .cate-form-search .detail-form-search button.btn-primary {
    padding: 8px !important;
    position: relative;
    top: 6px;
    color: #ffffff;
    background-color: #d9534f !important;
    border-color: #d9534f !important;
}

#main .trailer-film .trailer-title h3 {
    color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;
    display: inline-block;
    font: 30px/40px 'UTMCafetaRegular';
    text-transform: uppercase;
    font-size: 1.5rem;
}

#main .trailer-film .list-trailer {
    width: 100%;
    max-height: 471px;
    overflow: hidden;
    position: relative;
    padding: 5px;
    background: #4F4E52 url(../images/item_bg.gif) repeat;
    border-bottom: 1px solid #868489;
    border-radius: 4px;
    color: #fff;
    font-size: 11px;
}

#main .trailer-film .list-trailer .box-trailer-film {
    clear: both;
    padding: 9px 5px;
    /* margin-right: 10px; */
    min-height: 152px;
    height: auto;
    border-bottom: 1px solid #333;
}

#main .trailer-film .list-trailer .box-trailer-film img {
    display: inline-block;
    float: left;
    border: 2px solid #999;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 125px;
}

#main .trailer-film .list-trailer .box-trailer-film .meta-trailer-film {
    margin-left: 100px;
}

#main .trailer-film .list-trailer .box-trailer-film .meta-trailer-film p.trailer-name-film {
    font-size: 12px;
    color: #46E1FF;
    font-weight: bold;
    margin-bottom: 5px;
}

#main .trailer-film .list-trailer .box-trailer-film .meta-trailer-film p.trailer-view {
    color: #46E1FF;
    text-decoration: none;
}

#main .trailer-film .list-trailer .box-trailer-film .meta-trailer-film span {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
}

#main .detail-film .detail-item-film {
    background: #4F4E52 url(../images/item_bg.gif) repeat;
    height: auto;
}

#main .detail-film .detail-item-film .poster-film {
    position: relative;
    overflow: hidden;
}

#main .detail-film .detail-item-film .poster-film img {
    width: 80%;
    padding: 10px 10px;
}

#main .detail-film .detail-item-film .poster-film ul {
    position: absolute;
    width: 75.5%;
    bottom: -6px;
    left: 10px;
    background: rgba(0, 0, 0, 0.8);
    height: 90px;
    margin-bottom: 0;
}

#main .detail-film .detail-item-film .poster-film ul li {
    display: inline-block;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: 15px;
}

#main .detail-film .detail-item-film .poster-film ul li a {
    display: block;
    width: 80px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 5px;
    text-transform: capitalize;
    border: 1px solid;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#main .detail-film .detail-item-film .poster-film ul li a.btn-download {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

#main .detail-film .detail-item-film .poster-film ul li a.btn-download:hover {
    background: #4CAE4C;
}

#main .detail-film .detail-item-film .poster-film ul li a.btn-trailer {
    background-color: #428bca;
    border-color: #428bca;
}

#main .detail-film .detail-item-film .poster-film ul li a.btn-trailer:hover {
    background: #357EBD;
}

#main .detail-film .detail-item-film .poster-film ul li a.btn-watch {
    background-color: #d9534f;
    border-color: #d9534f;
}

#main .detail-film .detail-item-film .poster-film ul li a.btn-watch:hover {
    background: #D43F3A;
}

#main .detail-film .detail-item-film .description-film {
    color: #999;
}

#main .detail-film .detail-item-film .description-film h3 {
    color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;
    display: inline-block;
    font: 30px/40px 'UTMCafetaRegular';
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 2%;
}

#main .detail-film .detail-item-film .description-film p.name-film-en {
    color: #999;
    font-size: 0.8rem;
}

#main .detail-film .detail-item-film .description-film .detail-description-film {
    overflow: hidden;
    max-width: 300px;
    height: 211px;
    background: #222;
    border: 1px solid #121212;
    border-radius: 3px;
    margin-bottom: 20px;
}

#main .detail-film .detail-item-film .description-film .detail-description-film ul {
    margin-bottom: 0;
}

#main .detail-film .detail-item-film .description-film .detail-description-film ul li {
    font-size: 0.8rem;
    margin-left: 10px;
}

#main .detail-film .detail-item-film .description-film .star-rating {
    max-width: 300px;
    height: auto;
    background: #222;
    border: 1px solid #121212;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 5px 10px 10px;
}

#main .detail-film .detail-item-film .description-film .star-rating h4 {
    font-size: 20px;
    color: #dacb46;
}

#main .detail-film .detail-item-film .description-film .star-rating h4 span {
    font-size: 12px;
    color: #ddd;
}

#main .detail-film .detail-item-film .status-film {
    max-width: 825px;
    margin: 30px auto;
    background: #222;
    border: 1px solid #121212;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#main .detail-film .detail-item-film .status-film h4 {
    font-size: 1.3rem;
    color: #BBBBBB;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    line-height: 40px;
    padding: 0px 20px;
}

#main .detail-film .detail-item-film .status-film p {
    color: #ffffff;
    font-size: 0.8rem;
    margin-top: 30px;
    padding-left: 20px;
}

#main .detail-film .detail-item-film .status-film a {
    display: block;
    max-width: 131px;
    color: #ffffff;
    background: #d9534f;
    text-decoration: none;
    border: 1px solid #c9302c;
    padding: 4px 8px;
    margin: 20px auto;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

#main .detail-film .detail-item-film .status-film a:hover {
    background-color: #d43f3a;
}

#main .detail-film .detail-item-film .cat-film {
    max-width: 825px;
    height: auto;
    margin: 30px auto;
    background: #222;
    border: 1px solid #121212;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#main .detail-film .detail-item-film .cat-film h4 {
    font-size: 14px;
    font-weight: bold;
    color: #dacb46;
    text-transform: uppercase;
    margin-top: 5px;
    padding-left: 20px;
}

#main .detail-film .detail-item-film .cat-film .cat-film-peo {
    margin: 0 auto;
}

#main .detail-film .detail-item-film .cat-film .cat-film-peo img {
    width: 130px;
    text-align: center;
}

#main .detail-film .detail-item-film .cat-film .cat-film-peo p {
    max-width: 130px;
    overflow: hidden;
    margin-bottom: 0;
}

#main .detail-film .detail-item-film .cat-film .cat-film-peo p a {
    display: block;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}

#main .detail-film .detail-item-film .cat-film .cat-film-peo p a.cat-life {
    padding-top: 5px;
    color: #46E1FF;
}

#main .detail-film .detail-item-film .cat-film .cat-film-peo p a.cat-infilm {
    padding-top: 5px;
    margin-bottom: 5px;
    color: #999;
}

#main .detail-film .detail-item-film .des-infilm {
    max-width: 825px;
    height: auto;
    margin: 30px auto;
    background: #222;
    border: 1px solid #121212;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#main .detail-film .detail-item-film .des-infilm h4 {
    font-size: 14px;
    font-weight: bold;
    color: #dacb46;
    text-transform: uppercase;
    margin-top: 5px;
    padding-left: 20px;
}

#main .detail-film .detail-item-film .des-infilm p {
    margin: 0 0 10px;
    color: #999;
    font-size: 0.8rem;
    text-align: justify;
    max-width: 90%;
    padding-left: 20px;
}

#main .detail-film .detail-item-film .keyword-film {
    margin: 30px auto;
    max-width: 825px;
    border-top: 1px dotted #999;
}

#main .detail-film .detail-item-film .keyword-film h4 {
    font-size: 14px;
    font-weight: bold;
    color: #dacb46;
    text-transform: uppercase;
    margin-top: 15px;
    padding-left: 0px;
}

#main .detail-film .detail-item-film .keyword-film p {
    margin-bottom: 0;
    margin-left: 0px;
}

#main .detail-film .detail-item-film .keyword-film p span {
    color: #999;
    font-size: 0.8rem;
}

#main .detail-film .detail-item-film .keyword-film .video-trailer {
    width: 100%;
}

#main .detail-film .detail-item-film .keyword-film .video-trailer iframe {
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
}

#main .detail-film .ads-detail-film {
    margin-bottom: 30px;
    background: #4F4E52 url(../images/item_bg.gif) repeat;
    height: auto;
}

#main .detail-film .comment-detail-film {
    background: #4F4E52 url(../images/item_bg.gif) repeat;
    height: auto;
    margin-bottom: 30px;
}

#main .detail-film .comment-detail-film h4 {
    font-size: 14px;
    font-weight: bold;
    color: #dacb46;
    text-transform: uppercase;
    margin-top: 5px;
    padding-left: 20px;
}

#main .detail-film .view-more-film h4 {
    color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;
    display: inline-block;
    font: 30px/40px 'UTMCafetaRegular';
    text-transform: uppercase;
    font-size: 1.5rem;
}

#main .detail-film .view-more-film .view-more-film-list {
    margin-bottom: 10px;
}

#main .detail-film .view-more-film .view-more-film-list .view-more-img {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #111;
    background: #4F4E52 url(../images/item_bg.gif) repeat img;
    background-width: 100%;
}

#main .detail-film .view-more-film .view-more-film-list .view-more-meta {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #111;
    background: #4F4E52 url(../images/item_bg.gif) repeat;
    padding-left: 5px;
}

#main .detail-film .view-more-film .view-more-film-list .view-more-meta p {
    margin-bottom: 0;
}

#main .detail-film .view-more-film .view-more-film-list .view-more-meta p a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

#main .detail-film .view-more-film .view-more-film-list .view-more-meta p a.view-more-vi {
    color: #44e2ff;
    text-transform: uppercase;
}

#main .detail-film .view-more-film .view-more-film-list .view-more-meta p a.view-more-en {
    color: #999;
}

#main .detail-film .view-more-film .view-more-film-list .view-more-meta span {
    font-size: 12px;
    color: #777;
    line-height: normal;
    padding: 10px 0;
}

#main .detail-film .slibar .ads-1 {
    width: 100%;
}

#main .regester .form-regester {
    width: 100%;
    height: auto;
    background: #4F4E52 url(../images/item_bg.gif) repeat;
    padding-bottom: 30px;
    padding-top: 30px;
}

#main .regester .form-regester input[type="text"] {
    background-color: #333 !important;
    border: 1px solid #111 !important;
    color: #b8b8b8 !important;
}

#main .regester .form-regester input[type="checkbox"] {
    background-color: #333 !important;
    border: 1px solid #111 !important;
    color: #b8b8b8 !important;
}

#main .regester .form-regester label {
    font-size: 0.8rem;
    color: #ffffff;
}

#main .regester .form-regester label span {
    padding-left: 8px;
}

#main .regester .form-regester .btn-login-fb {
    margin-top: 30px;
    min-width: 200px;
}

footer {
    background: #57555A;
    background: url(../images/micro_carbon.png);
    min-height: 100px;
    padding: 20px 25px 15px;
    border-top: 3px solid #dacb46;
    border-bottom: 1px solid #111;
}

@media screen and (max-width: 992px) {
    footer h3 {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 767px) {
    footer h3 {
        font-size: 0.8rem !important;
    }
}

footer .logo-footer {
    text-align: center;
}

footer .logo-footer p {
    font-size: 1.4rem;
    color: #ffffff;
}

footer .logo-footer p span {
    color: palevioletred;
}

footer .menu-footer {
    text-align: center;
}

footer .menu-footer h3 {
    color: #41D9F5;
    text-transform: uppercase;
    font-size: 1.3rem;
}

footer .menu-footer ul {
    list-style: none;
}

footer .menu-footer ul li {
    height: 40px;
    width: 100%;
    display: inline-block;
}

footer .menu-footer ul li a {
    height: 40px;
    width: 100%;
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-decoration: none;
    font-size: 1rem;
}

footer .menu-footer ul li a:hover {
    background: #57555A;
}

@media screen and (max-width: 992px) {
    footer .menu-footer ul li a {
        font-size: 0.8rem !important;
    }
}

@media screen and (max-width: 767px) {
    footer .menu-footer ul li a {
        font-size: 0.7rem !important;
    }
}

footer .meta-contact h3 {
    color: #41D9F5;
    text-transform: uppercase;
    font-size: 1.3rem;
}

footer .meta-contact p {
    font-size: 1rem;
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    footer .meta-contact p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 767px) {
    footer .meta-contact p {
        font-size: 0.7rem !important;
    }
}

@media screen and (max-width: 992px) {
    .slibar {
        display: none;
    }
}

.scrollup {
    position: fixed;
    right: 2%;
    display: none;
    bottom: 5%;
    background: red;
    z-index: 99 !important;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.scrollup:hover {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.scrollup a {
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}











/*# sourceMappingURL=style.css.map */

@media (min-width: 768px) {
    .container {
        max-width: 728px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}







/*.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}*/

.logo-top {
    background: url(../images/image.png) no-repeat;
    width: 260px;
    height: 55px;
    display: block;
    background-position: 0 -320px;
    text-indent: -9999px;
}

#header .header-top .box-form input[type="text"] {
    margin: 0;
    display: inline-block;
}

#header .header-top .box-image-logo {
    margin: 0;
    display: inline-block;
    margin-top: 10px;
    float: left;
}

#header .header-top .box-form {
    display: inline-block;
    float: left;
    margin-top: 18px;
    margin-left: 30px;
}

#header {
    background-color: #39383d;
}

#header .header-top .login-header {
    width: unset;
    display: inline-block;
    float: right;
    margin-top: 20px;
    color: #ddd;
}

#header .header-top .box-form input[type="text"] {
    position: unset;
    margin: 0;
    display: inline-block;
    width: 320px;
    outline: none;
    border: 1px;
    background-color: #303137;
    border-radius: 100px;
    color: #9f9f9f;
    display: inline-block;
    padding: 8px 40px 8px 15px;
    text-decoration: none;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
}

#header .header-top .box-form .btn-search {
    position: unset;
    background: url(../images/image.png) no-repeat;
    border: 0px;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: -36px;
    top: 10px;
    outline: none;
    background-position: -136px -861px;
    text-indent: -9999px;
    cursor: pointer;
}

.container {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

#header .header-top .login-header a.btn-register {
    background: url(../images/image.png) no-repeat;
    width: 79px;
    height: 38px;
    display: inline-block;
    float: left;
    text-indent: -9999px;
}

#header .header-top .login-header a.btn-login {
    background: url(../images/image.png) no-repeat;
    width: 98px;
    height: 38px;
    display: inline-block;
    float: left;
    text-indent: -9999px;
    background-position: -78px 0px;
}

#header .header-top .login-header a.btn-login-with-fb {
    background: url(../images/image.png) no-repeat;
    width: 161px;
    height: 38px;
    display: inline-block;
    float: left;
    text-indent: -9999px;
    background-position: -173px 0px;
}

nav {
    border-top: 2px solid #d8cc46;
}

.tabs {
    margin: 0;
    list-style: none;
    overflow: hidden;
    background: #2E2E2E;
}

.tabs li {
    float: left;
    background: #4F4E52;
    width: 33.3%;
    text-align: left;
}

.tabs li.active {

    background: #2E2E2E;
}

.tabs li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #b9b9b9;
    padding-left: 5px;
    box-sizing: border-box;
    text-decoration: none;
}

.tabs li.active a {
    color: #46E1FF;
}

.tab_content li {
    position: relative;
    padding: 7px 10px;
    border-bottom: 1px dashed #666;
}

.tab_content li a {
    display: flex;
    justify-content: start;
    width: 70%;
    height: 35px;
    text-decoration: none;
}

.tab_content li a p {
    margin: 0;
}

.tab_content li .time {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #666;
}

.image-film {
    width: 35px;
    height: 35px;
}

.tab_content li a .box-name .name {
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #ddd;
}

.tab_content li a .box-name .name-en {
    display: block;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #666;
}

.tab_container {
    background-color: #2e2e2e;
    height: 535px;
    overflow: auto;
}





/*slide style*/

.list-film {
    padding: 20px;
    background: #2e2e2e;
}

.status-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    background-position: -120px -791px;
    background-image: url(../images/image.png);
    background-repeat: no-repeat;
}

#main .nominated-film .owl-theme .owl-nav {
    margin: 0;
}

#main .nominated-film .owl-prev {
    position: absolute;
    left: -5px;
    top: 35%;
    border-radius: 0px;
    padding: 30px 10px!important;
    background: rgba(0, 0, 0, 0.6);
}

#main .nominated-film .owl-prev span {
    background: url('../images/image.png') no-repeat -2px -535px;
    height: 24px;
    width: 16px;
    display: block;
    text-indent: -9999px;
}

#main .nominated-film .owl-next span {
    background: url('../images/image.png') no-repeat -23px -535px;
    height: 24px;
    width: 16px;
    display: block;
    text-indent: -9999px;
}

#main .nominated-film .owl-next {
    position: absolute;
    right: -5px;
    top: 35%;
    border-radius: 0px;
    padding: 30px 10px!important;
    background: rgba(0, 0, 0, 0.6);
}



/*sidebar style*/

.right-box .right-box-header {
    font: 25px/25px 'UTMCafetaRegular';
    color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;
    text-transform: uppercase;
    height: 32px;
    font-size: 19px;
}

.right-box .star-icon {
    background: url(../images/image.png) no-repeat 0px -83px;
}

.right-box .right-box-header span {
    padding-left: 35px;
    padding-top: 3px;
    display: block;
}

.right-box .right-box-content {
    /* float: left;*/
    overflow: hidden;
    position: relative;
    padding: 5px;
    background: #4F4E52 url(../images/item_bg1.gif) repeat;
    border-bottom: 1px solid #868489;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 11px;
    width: 100%;
    height: auto;
    text-decoration: none;
    margin: 20px 0;
}

.right-box .btn-load {
    display: block;
    padding: 8px 10px !important;
    font-size: 14px !important;
    font-weight: bold;
    color: #DDD;
}

.ads-container {
    height: auto;
    padding: 5px;
    background: #fff;
    /* margin-top: 50px;*/
    margin-bottom: 20px;
}

.ads-container a {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    text-decoration: none;
    color: #333333;
}

.list-top-movie .list-top-movie-item {
    clear: both;
    padding: 9px 5px;
    /* margin-right: 10px; */
    min-height: 152px;
    height: auto;
    border-bottom: 1px solid #333;
}

.list-top-movie-link {
    color: #46E1FF;
    text-decoration: none;
}

.right-box-content .list-top-movie .list-top-movie-item-thumb {
    border: 2px solid #999;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 133px;
    float: left;
}

.right-box-content .list-top-movie .list-top-movie-item-info {
    float: right;
    width: 160px;
}

.right-box .right-box-content .list-top-movie .list-top-movie-item-info .list-top-movie-item-vn,
.right-box .right-box-content .list-top-movie .list-top-movie-item-info .list-top-movie-item-en,
.right-box .right-box-content .list-top-movie .list-top-movie-item-info .list-top-movie-item-view {
    display: block;
}

.right-box-content .list-top-movie .list-top-movie-item-info .list-top-movie-item-vn {
    font-size: 12px;
    color: #46E1FF;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
}

.right-box-content .list-top-movie .list-top-movie-item-info .list-top-movie-item-en {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
}

.list-top-movie-link .list-top-movie-item-view {
    color: #46E1FF;
    text-decoration: none;
}

.rate-vote {
    background: url(../images/image.png) no-repeat;
    background-position: -4px -564px;
    height: 20px;
    width: 90px;
    display: block;
}

.slim-scroll {
    overflow: auto !important;
}

.slim-scroll::-webkit-scrollbar {
    width: 7px !important;
}

.slim-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(85, 85, 85, 0.8) !important;
    outline: none !important;
    border-radius: 3px !important;
}

.slim-scroll::-webkit-scrollbar-track {
    background-color: rgba(51, 51, 51, 0.2) !important;
    border-radius: 3px !important;
}

.right-box .tag-icon {
    background: url(../images/image.png) no-repeat 0px -112px;
}

.tag-box {
    list-style: none;
}

.tag-box .tag-item {
    background-image: url(../images/image.png);
    background-position: 0px -147px;
    background-repeat: no-repeat;
    float: left;
    margin: 4px 0px;
    padding-left: 8px;
    white-space: nowrap;
}

.tag-box .tag-item .tag-link {
    line-height: 27px;
    font-size: 11px;
    background-image: url(../images/tag-middle.png);
    display: block;
    width: auto;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    color: #fff;
    text-decoration: none;
}

.tag-box .tag-item .tag-end {
    background-image: url(../images/image.png);
    background-position: -14px -147px;
    background-repeat: no-repeat;
    line-height: 27px;
    font-size: 11px;
    display: block;
    float: right;
    width: 22px;
}

.cel-icon {
    background: url(../images/image.png) no-repeat 0px -177px;
}

.star-profile .profile-link .profile-image {
    display: block;
    background-size: cover;
    width: 290px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
}

.star-profile .star-profile-name {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #44e2ff;
    padding: 15px 0px 5px;
}

.star-profile .star-profile-summary {
    font-size: 12px;
    color: #fff;
    line-height: 150%;
}


/*register form*/

.form-regester label {
    text-align: right;
}

.form-regester .form-item {
    display: inline-block;
}

#main .regester .form-regester {
    padding: 20px;
}


/*film details*/

#main .detail-film .detail-item-film .poster-film img {
    width: 100%;
    padding: 0;
}

#main .detail-film .detail-item-film .poster-film ul {
    position: absolute;
    width: 100%;
    bottom: -6px;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 90px;
    margin-bottom: 0;
}

.cat-film-peo .item {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
}

.cat-film-peo .owl-nav button.owl-prev {
    position: absolute;
    top: 75px;
    left: 5px;
    padding: 10px 5px!important;
    background: rgba(0, 0, 0, 0.6)!important;
}

.cat-film-peo .owl-prev span {
    background: url(../images/image.png) no-repeat -2px -535px;
    height: 24px;
    width: 16px;
    display: block;
    text-indent: -9999px;
}

.cat-film-peo .owl-nav button.owl-next {
    position: absolute;
    top: 75px;
    right: 5px;
    padding: 10px 5px!important;
    background: rgba(0, 0, 0, 0.6)!important;
}

.cat-film-peo .owl-next span {
    background: url(../images/image.png) no-repeat -23px -535px;
    height: 24px;
    width: 16px;
    display: block;
    text-indent: -9999px;
}

#main .detail-film .detail-item-film .cat-film .cat-film-peo img {
    width: 100%;
}

#main .detail-film .detail-item-film {
    padding: 10px;
}

#main .detail-film .view-more-film .view-more-film-list .view-more-img,
#main .detail-film .view-more-film .view-more-film-list .view-more-meta {
    width: 100%;
}

#main .detail-film .view-more-film .view-more-film-list .view-more-img img {
    width: 100%;
}

#main .detail-film .ads-detail-film {
    padding: 10px;
    margin: 10px 0px;
}

#main .detail-film .comment-detail-film {
    padding: 10px;
    margin-bottom: 10px;
}

.watch-info-box .movie-image {
    width: 168px;
}

.watch-info-box .movie-image img {
    width: 100%;
}

.movie-info .movie-title .title-1 {
    text-transform: uppercase;
    font: 26px 'UTMCafetaRegular';
    color: #dacb46;
    display: block;
}

.movie-info .movie-title .title-2 {
    color: #999;
    font-size: 12px;
}

.film-description-box {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 8px;
    line-height: 26px;
    border: 1px solid #121212;
    font-size: 12px;
    color: #BBB;
    background: #222;
    height: 136px !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.movie-title {
    font-size: 0;
}

.movie-l-img {
    position: relative;
}

.movie-watch-link-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #00000094;
    text-align: center;
}

.movie-watch-link-box .movie-watch-link {
    text-transform: uppercase;
    color: #46E1FF;
}

.form-inline {
    flex-flow: nowrap;
}
#main .cate-form-search .detail-form-search{
    padding: 10px;
}
.form-control {
    background-color: #333 !important;
    border: 1px solid #111 !important;
    color: #b8b8b8 !important;
}
#main .regester .form-regester .btn-login-fb{
    margin-top: 0;
}
@media(max-width: 1024px) {
    #header .header-top .box-image-logo,
    #header .header-top .box-form,
    #header .header-top .login-header {
        width: 100%;
    }
    #header .header-top .box-form {
        margin: 10px 0;
    }
    #header .header-top .login-header {
        margin: 10px 0;
    }
    #header .header-top .login-header a.btn-login-with-fb {
        max-width: unset;
    }
}

@media(max-width: 768px) {
    .form-inline {
        display: block;
    }
    #main .cate-form-search .detail-form-search .list-movie-filter-item{
        margin: 0;
        width: 100%;
    }
}

@media(max-width: 376px) {
    #header .header-top .box-form input[type="text"] {
        width: 280px;
    }
    #header .header-top .login-header a.btn-login-with-fb {
        margin-top: 10px;
    }
}

.rating-film h4 {
    font-size: 18x;
    font-weight: bold;
    color: #dacb46;
    text-transform: uppercase;
    margin-top: 15px;
    padding-left: 0px;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}
.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,

/* show gold star when clicked */

.rating:not(:checked)>label:hover,

/* hover current star */

.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,

/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,

/* lighten current selection */

.rating>input:checked~label:hover~label {
    color: #FFED85;
}