*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.clear{
    clear: both !important;
}
.container{
    padding-right:0 !important;
   padding-left:0 !important;
}
body{
    font-size:62.5%;
    font-family: Arial, sans-serif;
}

$color_header_top:#39383d;
$color_header_top_border:#d8cc46;
$color_header_bottom:#323031;
$color_header_button:#474747;
$color_header_button_facebook:#0963a4;
$color_header_input_text:#303137;
$color_header_nav:#323031;
$color_background_main:#57555A;
#header{
    height:auto;
    width: 100%;
    box-sizing: border-box;
    .header-top{
        width: 100%;
        height:auto;
        background-color: $color_header_top;
        border-bottom: 2px solid $color_header_top_border;
      
        .box-image-logo{
            float: left;
            line-height: 80px; 
            @media screen and (max-width :576px) {
                margin-left: 27%;
            }       
        }
        .box-name-logo{
            margin-left: 25%;
            p{
                &:first-of-type{
                    padding-top: 6px;
                    font-size: 1.8rem;
                    color: #ffffff;

                      @media screen and (max-width :992px) {
                        padding-top: 12%;
                        font-size: 1rem;
                    }

                    @media screen and (max-width :767px) {
                        padding-top: 17%;
                        font-size: 0.8rem;
                        margin-left: 35%;
                    }
                    @media screen and (max-width :576px) {
                        padding-top: 1%;
                        font-size: 3rem;
                        margin-left: 15%;
                    }
                }
               font-size: 0.8rem;
               color:#19a7ee;
               margin-bottom: 0; 

               @media screen and (max-width :992px) {
                   font-size: 0.6rem;
               
                 }
                 @media screen and (max-width :767px) {
            
                    font-size: 0.5rem;
                    margin-left: 35%;  
                }
            }
            span{
                color: $color_header_top_border;
                font-size: 1rem;

                
            }
       }

       .box-form{
          input[type="text"]{
            width: 100%;
            height: 40px;
            position: relative;
            margin-top:1rem;
            font-size: 0.9rem;
            outline:none;
            color: #dddddd;
            box-sizing:border-box;
            border:2px solid $color_header_top;
            border-radius: 15px;
            box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
            background: $color_header_input_text;
            &:focus{
                outline:0;}
            
          }
            .btn-search{
                position: absolute;
                top:25%;
                right:5%;
                border:none;
                &:focus{
                    outline:0;}
                    @media screen and (max-width :767px) {
                        top: 19%;
                        right: 11%; 
                    }
                    @media screen and (max-width :576px) {
                        top: 37%;
                        right: 3%;
                    }
                    @media screen and (max-width :380px) {
                        top:36%;
                        right: 6%
                    }
            }
          
       }
       .login-header{
           width: 100%;
           margin-top: 4%;
        a{
            &.btn-register{
                
                     text-decoration: none;
                    display: block;
                    padding:9px 10px;
                    font-size: 0.8rem;
                    color: #ffffff;
                    // border:1px solid $color_header_button;
                    border-right: 2px solid black;
                    border-radius:5px 0 0 5px;
                    background: $color_header_button;
                    box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
    -moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
                    float: left;
                    &:hover{
                        background: #5B5B5B;
                        transition: all 0.3s;
                    }
              }
            
              &.btn-login{
               
                text-decoration: none;
               display: block;
               padding:9px 10px;
               font-size: 0.8rem;
               color: #ffffff;
            //    border:1px solid $color_header_button;
               border-radius:0px 5px 5px 0px;
               background: $color_header_button;
               box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
    -moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
               float: left;
               &:hover{
                background: #5B5B5B;
                transition: all 0.3s;
            }
              }
             
          }
          
         a{
                &.btn-login-with-fb{
                    float:right;
                    text-decoration: none;
                    max-width: 184px;
                   display: block;
                   padding:9px 10px;
                   font-size: 0.8rem;
                   outline: none;
                   color: #ffffff;
                   border:transparent;
                   border-radius:5px;
                   background: $color_header_button_facebook;
                   box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
                    -moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 10);
                    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
                    &:hover{
                        background: #083199;
                        transition: all 0.3s;
                    }
                    @media screen and (max-width :992px) {
                        max-width: 126px;
                        margin-bottom: 2%;
                        text-align: center;
                    }
                    @media screen and (max-width :767px) {
                        max-width: 98px;
                        margin-bottom: 2%;
                        text-align: center;
                    }
                    @media screen and (max-width :576px) {
                       min-width: 182px;
                        margin-bottom: 2%;
                        margin-right: 2%;
                    }
                    @media screen and (max-width :380px) {
                        float: left;
                        margin-bottom: 2%;
                    }
    
                }
                
               i{
                   padding-right: 5px;
               }  
          }
       }
     
    }
}
nav{
    height: 50px;
    background: $color_header_nav;

   ul{
      height: 50px;
      box-sizing: border-box;
      margin-bottom: 0;
        li{
            height: 50px;
            float: left; 
            position: relative;
            ul{
                &.menu1{
                    display: none;   
                    margin-bottom: 0;
                }
            }
            a{
                display: block;
                height: 50px;
                padding: 0px 10px;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                color: #ffffff;
                text-transform: uppercase;
                text-align: center;
                line-height: 50px;
                
                &:hover{
                    color: #dacb46;
                    background: #292929;
                    text-decoration: none;
                    transition: all 0.3s;
                }
                @media screen and (max-width :992px) {
                    font-size: 0.8rem;
                 }
                 @media screen and (max-width :767px) {
                    font-size: 0.6rem;
                }
            }
            &:hover{
                transition: all 0.3s;
                ul{
                    &.menu1{
                        display: block;
                        position:absolute;
                        top:50px;
                        width:640px;
                        height: 200px;
                        border:1px solid #dddddd;
                        font-weight: 200;
                        background: #292929;
                        @media screen and (max-width :992px) {
                            width:400px;
                         }
                         @media screen and (max-width :767px) {
                            width:340px;
                         }
                         @media screen and (max-width :567px) {
                            max-width:250px;
                            height: auto;
                            z-index: 9999;
                         }
                        li{
                            display: block;
                            width: 150px;
                            height: 30px;
                            margin-top: 15px;
                    
                            background: #292929!important;
                            a{
                                display: block;
                                width: 150px;
                                height: 50px;
                                padding: 5px 10px;
                                color: #ffffff;
                                text-decoration: none;
                                text-transform: capitalize;
                                font-weight: 400;
                                &:hover{
                                    color: red;
                                 
                                } 
                            }
                            
                        }
                    }
                }
            }
        }
   }

}

#main{
    background: $color_background_main;
    height: auto;
    width: 100%;
    border-top: 1px solid #dddddd;
   .box-message{
    padding-top:30px;
   
       .box-message-detail{
           width: 100%;
           height: 50px;
           border:1px solid #d8cc46;
           background: black;
           margin-bottom: 10px;
           p{
               padding-top: 5px;
               padding-left: 30px;
              text-align: left;
            color: #ddd;
            font-size: 0.8rem;
            max-width: 900px;
            margin-bottom: 0;
           }
       }
   }
   .ads{
       img{
           width: 100%;
       }
   }
   .nominated-film{
       margin-top: 40px;
       .list-film{
           .item{
               position: relative;
               .label-item{
                   span{
                    display: inline-block;
                    height: 30px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 5px 5px;
                    width: auto;
                    background: #A21D0A;
                    font-weight: bold;
                    color: #ffffff;
                    text-transform: capitalize;
                    font-size: 0.7rem;
                    position: absolute;
                    top: 4px;
                    left: 1px; 
                   }
               }
               .meta-item{
                position: absolute;
                bottom: 2px;
                background: rgba(0,0,0,0.8);
                padding: 5px;
                width: 100%;
                p{
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    color: #FF8040;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 700;
                    text-decoration: none;
                    margin: 5px 0px;
                } 
                span{
                    color: #fff;
                    font-size: 12px;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    text-decoration: none;
                    margin: 5px 0px;
                }
               }
           }
       }
         h3{
         color: #dacb46;
        text-shadow: 1px 1px 1px #1a1a1a;
        display: inline-block;
        font: 30px/40px 'UTMCafetaRegular';
        text-transform: uppercase;

       }
       .owl-dot{
        span{
            width: 12px;
            height: 12px;
        }
    }
    .owl-prev {
        position: absolute;
        left: 35%;
        bottom: -2px;
        width: 30px;
        height: 30px;
        border-radius: 50% !important;
        background: $color_header_top_border!important;
        @media only screen and (max-width:768px) {
            left: 0;
        }
    }
    .owl-theme .owl-nav {
        margin-top: 50px;
    }
    .owl-next {
        position: absolute;
        right: 35%;
        bottom: -2px;
        width: 30px;
        height: 30px;
        border-radius: 50% !important;
        background:  $color_header_top_border !important;
        @media only screen and (max-width:768px) {
            right: 0;
        }
    }
   }
   .all-film{
       padding-top: 40px;
       height: auto;
       .cate-section2{
               margin-top: 0px;
       }
       .ads-1{
           width: 100%;
           height: 575px;
       }
       #exTab1 {
       
           .nav-pills{
               background: #2e2e2e;
        
            li{
                width: 146px;
                height: 50px;
                a {
                    display: block;
                    width: 146px;
                    height: 50px;
                    font-size: 1rem;
                    line-height: 50px;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 0;
                    color:#cccccc;
                  }
                  &.active{
                    a{
                        background: #191919;
                        color: #1eaff0;
                    }

                }
            }
          }
        .tab-content {
            color : white;
            // background-color: #428bca;
            // padding : 5px 15px;
            .box-film{
                padding-top: 10px;
                border-bottom: 1px dashed  #555;
                position: relative;
                &:last-of-type{
                    border-bottom: none;
                    padding-bottom: 8px;
                }
                a{
                    text-decoration: none;
                    color: #ffffff;
                }
                img{
                    display: inline-block;
                    float: left;
                    border:2px solid #ffffff;
                    width: 3rem;
                    margin-left: 5px;
                }
                p{
                   padding-left: 60px;
                   &:first-of-type{
                       font-size: 1rem;
                   }
                   &:last-of-type{
                    font-size: 0.8rem;
                    color: #cccccc;
                    margin-top:-12px;
                   }
                }
                span{
                    float: right;
                    margin-top: -60px;
                    font-size: 0.8rem;
                    color: #cccccc;
                    padding-right: 5px;
                }
            }
            .active{
                background: #191919;
            }
          
          }
          
       }
   }
   .section2 {
    margin-top: 40px;
    overflow: hidden;
    .section2-title{
        background: url(../images/divider_line.gif) bottom repeat-x;
        margin-bottom: 5px;
        margin-top: 10px;
        h3{
            color: #dacb46;
            text-shadow: 1px 1px 1px #1a1a1a;
            display: inline-block;
            font: 30px/40px 'UTMCafetaRegular';
            text-transform: uppercase;
       
           }
        a{
            float: right;
            display: inline-block;
            padding: 15px 12px 0px 0px;
            color: #ddd;
            font-size: 14px;
            text-decoration: none;
            background: url(../images/viewmore.png) no-repeat right 21px;
        }
    }
    .list-theater{
        overflow: hidden;
        .detail-film{
            position: relative;
            padding-left: 2px;
            background: #4F4E52 url(../images/item_bg.gif) repeat;
            border-bottom: 1px solid #868489;
            color: #ddd;
            height: auto;
            display: block;
            width: 100%;
            margin-bottom: 10px;
            .sub-title{
                display: inline-block;
                height: 30px;
                box-sizing: border-box;
                padding: 5px 5px;
                width: auto;
                background: #A21D0A;
                font-weight: bold;
                color: #ffffff;
                text-transform: capitalize;
                font-size: 0.7rem;
                position:absolute;
                top:4px;
                left:0px;
            }
            .detail-item-film{
                width: 100%;
                height: auto;
                .item-image-film{
                   img{
                    height: auto;
                    display: block;
                    width: 100%;
                    text-align: center;
                   }
                  
                }
                .item-name-film{
                    padding-left: 5px;
                        p{
                                margin-bottom: 0; 
                            &:first-of-type{
                                display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            color: #44e2ff;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            text-decoration: none;
                            }

                            &:nth-child(2){
                                display: inline-block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                width: 100%;
                                line-height: normal;
                                color: #ccc;
                                font-size: 0.9rem;
                                text-decoration: none;
                                padding-top: 4px;
                            }
                            &:last-of-type{
                                font-size: 12px;
    color: #777;
    line-height: normal;
    padding-bottom: 5px;

                            }
                            a{
                                text-decoration: none;
                                
                            }
                        }
                }
            }
        }
    }
   }

   .cate-header{
       margin-top: 20px;
       margin-bottom: 40px;
       height: 40px;
       .box-header{
           width: 100%;
           overflow: hidden;
           background: #111;
        p{
            padding-left: 5%;
           a{
               display: inline-block;
            height: 40px;
            line-height: 52px;
            color: #46E1FF;
            font-size: 1.2rem;
            text-transform: uppercase;
            text-decoration: none;
           }
           span{
               color: #ffffff;
               font-size: 1.2rem;
               padding:0 5px;
           }

        }
       }
   }

   .cate-form-search{
    // margin-bottom: 20px;
        .detail-form-search{
            background: #111;
            height: auto;
            .list-movie-filter-item{
                float: left;
                margin: 0px 20px;
                width: 126px;
                label{
                    display:block;
                    margin-bottom: 5px;
                    margin-top: 5px;
                    font-weight: bold;
                    color: #cccccc;
                    font-size: 1rem;
                }
                .form-control{
                    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                    background-color: #333 !important;
                    border: 1px solid #111 !important;
                   color: #b8b8b8 !important;
                   margin-bottom: 20px;
                }
                
            }
            button{
                &.btn-primary{
                    padding: 8px !important;
                    position: relative;
                    top: 6px;
                    color: #ffffff;
                    background-color: #d9534f !important;
                    border-color: #d9534f !important;
                } 
            }
        }
   }
   .trailer-film{
       .trailer-title{
           h3{
            color: #dacb46;
            text-shadow: 1px 1px 1px #1a1a1a;
            display: inline-block;
            font: 30px/40px 'UTMCafetaRegular';
            text-transform: uppercase;
            font-size: 1.5rem; 
           }
       }
       .list-trailer{
           width: 100%;
           max-height: 471px;
           overflow: hidden;
           position: relative;
           padding: 5px;
           background: #4F4E52 url(../images/item_bg.gif) repeat;
           border-bottom: 1px solid #868489;
           -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
           border-radius: 4px;
           color: #fff;
           font-size: 11px;
           
           .box-trailer-film{
            clear: both;
            padding: 9px 5px;
            /* margin-right: 10px; */
            min-height: 152px;
            height: auto;
            border-bottom: 1px solid #333;
               img{
                   display: inline-block;
                   float: left;
                   border: 2px solid #999;
         border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 125px;
               }

               .meta-trailer-film{
                margin-left: 100px;
                   p{
                       &.trailer-name-film{
                        font-size: 12px;
                        color: #46E1FF;
                        font-weight: bold;
                        margin-bottom: 5px;
                       }
                       &.trailer-view{
                    
                        color: #46E1FF;
                        text-decoration: none;
                       }
                   }
                   span{
                    font-size: 12px;
                    color: #fff;
                    margin-bottom: 10px;

                   }
               }
           }
       }
   }
   .detail-film{
       
       .detail-item-film{
        background:#4F4E52 url(../images/item_bg.gif) repeat;;
        height: auto;
        .poster-film{
            position: relative;
            overflow: hidden;
            img{
                width: 80%;
                padding: 10px 10px;
            }
            ul{
                position: absolute;
                width:75.5%;
                bottom:-6px;
                left: 10px;
                background: rgba(0,0,0,0.8);
                // opacity: 0.8;
                height: 90px;
                margin-bottom: 0;
                li{
                    display: inline-block;
                    width: 80px;
                    height: 40px;
                    margin-top: 20px;
                    margin-left: 15px;
                    a{
                        display: block;
                        width: 80px;
                        line-height: 40px;
                        text-decoration: none;
                       text-align: center;
                       font-size: 1rem;
                       color: #ffffff;
                       border-radius: 5px;
                       text-transform: capitalize;
                       border:1px solid;
                       transition: all 0.3s;
                       &.btn-download{
                        background-color: #5cb85c;
                        border-color: #5cb85c;
                           &:hover{
                        
                            background: #4CAE4C
                           }
                       }
                       &.btn-trailer{
                        background-color: #428bca;
                        border-color: #428bca;
                       
                        &:hover{
                            background: #357EBD;  
                        }
                       }
                       &.btn-watch{
                        background-color: #d9534f;
                        border-color: #d9534f;
                       
                        &:hover{
                            background: #D43F3A;
                        }
                       }
                    }
                }
            }
        }

        .description-film{
            color: #999;
            h3{
                color: #dacb46;
                text-shadow: 1px 1px 1px #1a1a1a;
                display: inline-block;
                font: 30px/40px 'UTMCafetaRegular';
                text-transform: uppercase;
                font-size: 1.5rem;
                padding-top: 2%;
            }
            p{
                &.name-film-en{
                    color: #999;
                    font-size: 0.8rem;
                }
            }
            .detail-description-film{
                overflow: hidden;
                max-width: 300px;
                height: 211px;
                background: #222;
                border: 1px solid #121212;
                border-radius: 3px;
                margin-bottom: 20px;
                ul{
                    margin-bottom: 0;
                    li{
                        font-size: 0.8rem;
                        margin-left: 10px;
                    }
                }
            }

            .star-rating{
                max-width: 300px;
                height: auto;
                background: #222;
                border: 1px solid #121212;
                border-radius: 3px;
                margin-bottom: 20px;
                padding:5px 10px 10px;
                h4{
                    font-size: 20px;
                    color: #dacb46;
                    span{
                       font-size: 12px;
                        color: #ddd;
                    }
                }
                .rating{
                    img{

                    }
                }
            }


        }

        .status-film{
            max-width: 825px;
            margin: 30px auto;
            
            background: #222;
            border: 1px solid #121212;
            border-radius: 3px;
            box-sizing: border-box;
            h4{
                font-size: 1.3rem;
                color: #BBBBBB;
                height: 40px;
                width: 100%;
                border-bottom: 1px solid #ffffff;
                line-height: 40px;
                padding: 0px 20px;
            }
            p{
                color: #ffffff;
                font-size: 0.8rem;
                 margin-top: 30px;
                 padding-left: 20px;
            }
            a{
                display: block;
                max-width: 131px;
                color: #ffffff;
                background: #d9534f;
                text-decoration: none;
                border:1px solid #c9302c;
                padding: 4px 8px;
                margin: 20px auto;
                font-size: 1rem;
                text-align: center;
                margin-bottom: 20px;
                &:hover{
                    background-color: #d43f3a;
                    // border-color: #c9302c;

                }
            }
        }

        .cat-film{
            max-width: 825px;
            height: auto;
            margin: 30px auto;
            background: #222;
            border: 1px solid #121212;
            border-radius: 3px;
            box-sizing: border-box;
            h4{
                font-size: 14px;
                font-weight: bold;
                color: #dacb46;
                text-transform: uppercase;
                margin-top: 5px;
                padding-left: 20px;
            }
            .cat-film-peo    
            {
                margin: 0 auto;
                img{
                    width: 130px;
                    text-align: center;
                }
                p{
                    max-width: 130px;
                    overflow: hidden;
                    margin-bottom: 0;
                    a{
                        display: block;
                        font-size: 0.8rem;
                        overflow: hidden;
                         text-overflow: ellipsis;
                            white-space: nowrap;
                            text-decoration: none;
                        &.cat-life{
                            padding-top: 5px;
                            color: #46E1FF;
                        }
                        &.cat-infilm{
                            padding-top: 5px;
                            margin-bottom: 5px;
                            color: #999;
                        }
                    }
                }
            }

        }

        .des-infilm{
            max-width: 825px;
        height: auto;
        margin: 30px auto;
        background: #222;
        border: 1px solid #121212;
        border-radius: 3px;
        box-sizing: border-box;

        h4{
            font-size: 14px;
            font-weight: bold;
            color: #dacb46;
            text-transform: uppercase;
            margin-top: 5px;
            padding-left: 20px;
        }
        p{
            margin: 0 0 10px;
            color: #999;
            font-size: 0.8rem;
            text-align: justify;
            max-width: 90%;
            padding-left: 5%;
        }
        }

        .keyword-film{
            margin: 30px auto;
            max-width: 825px;
            border-top:1px dotted #999;
            h4{
                font-size: 14px;
                font-weight: bold;
                color: #dacb46;
                text-transform: uppercase;
                margin-top: 15px;
                padding-left: 20px;
            }
            p{
                margin-bottom: 0;
                margin-left: 20px;
                span{
                    color: #999;
                    font-size: 0.8rem;
                }
            }
            .video-trailer{
                width: 100%;
              
                iframe{
                    width: 100%;
                    height: 350px;
                    margin-bottom: 30px;
                }
            }
        }

       

       }

       .ads-detail-film{
           margin-bottom: 30px;
        background:#4F4E52 url(../images/item_bg.gif) repeat;;
        height: auto;    
        }

        .comment-detail-film{
            background:#4F4E52 url(../images/item_bg.gif) repeat;;
            height: auto;
            margin-bottom: 30px;
            h4{
                font-size: 14px;
                font-weight: bold;
                color: #dacb46;
                text-transform: uppercase;
                margin-top: 5px;
                padding-left: 20px; 
            }
        }

        .view-more-film{
            h4{
                color: #dacb46;
                text-shadow: 1px 1px 1px #1a1a1a;
                display: inline-block;
                font: 30px/40px 'UTMCafetaRegular';
                text-transform: uppercase;
                font-size: 1.5rem;
            }
            .view-more-film-list{
                margin-bottom: 10px;
              
                .view-more-img{
                width: 80%;
                margin: 0 auto;
                border:2px solid #111;
                background: #4F4E52 url(../images/item_bg.gif) repeat
                    img{
                        width: 100%;
                    }
                }
                .view-more-meta{
                    width: 80%;
                    margin: 0 auto;
                    border:2px solid #111;
                    background: #4F4E52 url(../images/item_bg.gif) repeat;
                    padding-left: 5px;
                    p{
                        margin-bottom: 0;
                        a{
                            display: block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100%;
                          
                           
                            font-size: 12px;
                            font-weight: 700;
                            text-decoration: none;
                            &.view-more-vi{
                                color: #44e2ff;
                                text-transform: uppercase;
                            }
                            &.view-more-en{
                                color: #999;
                            }
                        }
                    }
                    span{
                        font-size: 12px;
                        color: #777;
                        line-height: normal;
                        padding:10px 0;
                    }
                }
            }
           

        }


       .slibar{
           .ads-1{
               width: 100%;
           }
       }
   }


   .regester{
   
       .form-regester{
           width: 100%;
           height: auto;
           background: #4F4E52 url(../images/item_bg.gif) repeat;
          padding-bottom: 30px;
          padding-top: 30px;
          input[type="text"]{
            background-color: #333 !important;
            border: 1px solid #111 !important;
            color: #b8b8b8 !important;
          }

          input[type="checkbox"]{
            background-color: #333 !important;
            border: 1px solid #111 !important;
            color: #b8b8b8 !important;
          }
          label{
              font-size: 0.8rem;
              color: #ffffff;
              span{
                  padding-left: 8px;
              }
          }
          .btn-login-fb{
              margin-top:30px;
              min-width: 200px;
          }
       }
   }
}

footer{
    background: $color_background_main;
    background: url(../images/micro_carbon.png);
    min-height: 100px;
    padding: 20px 25px 15px;
    border-top: 3px solid #dacb46;
    border-bottom: 1px solid #111;
    @media screen and (max-width :992px) {
        h3{
            font-size: 1rem !important;
        }

     }
     @media screen and (max-width :767px) {
        h3{
            font-size: 0.8rem !important;
        }
     }
    .logo-footer{
        text-align: center;
        p{
          font-size: 1.4rem;
          color: #ffffff;
          span{
              color: palevioletred;
          }
        }
    }
    .menu-footer{
        text-align: center;
        h3{
            color: #41D9F5;
            text-transform: uppercase;
            font-size: 1.3rem;
        }
        ul{
            list-style: none;
            li{
                height: 40px;
                width: 100%;
                display: inline-block;
                a{
                    height: 40px;
                    width: 100%;
                    display:block;
                    color: #ffffff;
                    line-height: 40px;
                    text-decoration: none;
                    font-size: 1rem;
                    &:hover{
                        background: $color_background_main;
                    }
                    @media screen and (max-width :992px) {
                        font-size: 0.8rem !important;
                     }
                     @media screen and (max-width :767px) {
                        font-size: 0.7rem !important;
                     }
                }
            }
        }
    }
    .meta-contact{
        h3{
            color: #41D9F5;
            text-transform: uppercase;
            font-size: 1.3rem;
        }
        p{
            font-size: 1rem;
            color: #ffffff;
           
            @media screen and (max-width :992px) {
                font-size: 0.9rem;
             }
             @media screen and (max-width :767px) {
                font-size: 0.7rem !important;
             }
        }
    }
}

@media screen and (max-width :992px) {
    .slibar{
        display: none;
    }
 }
 .scrollup {
    position: fixed;
    right: 2%;
    display: none;
    bottom: 5%;
    background: red;
    z-index: 99 !important;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    transition: all 0.2s;
    &:hover {
        transition: all 0.2s;
    }
}

.scrollup a {
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.2s;
}